html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.app {
  font-family: Verdana, Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.app-header {
  background-color: #222;
  padding: 10px;
  color: white;
  font-weight: bold;
}

.app-body {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  align-content: stretch;
}

.map-panel {
  flex: 1;
}

.side-panel {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 100%;
}

.side-panel > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 300px;
}

.xymap-container {
  background: hsla(300, 50%, 50%, 1);
  overflow: auto;
}

.tile-list-container {
  order: 1;
  background: hsla(100, 50%, 60%, 1);
  overflow-y: auto;
  flex: 1;
}

.tile-properties-container {
  order: 2;
  background: hsla(200, 50%, 70%, 1);
  overflow-y: auto;
}
